<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/header}">
<head>
    <meta charset="UTF-8">
    <title>자재 관리 페이지</title>
    <link rel="stylesheet" th:href="@{/css/material.css}">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<!--jQuery에서 제공하는 3.5.1 버전의 jQuery CDN 호스트-->
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function () {
            $("#searchBtn").on("click", function (e) {
                e.preventDefault();
                page(0);
            });
            //    검색 버튼을 클릭할 때 조회할 페이지 번호를 0으로 설정해서 조회

/*            var deleteMessage = [[${deleteMessage}]];
            if (deleteMessage != null) {
                alert(deleteMessage);
            }*/

            var deleteMessage = /*[[${deleteMessage != null ? deleteMessage : ''}]]*/ '';
            if (deleteMessage) {
                alert(deleteMessage);
            }

        });

        function page(page) {
            var searchDateType = $("#searchDateType").val();
            var searchMaterialStatus = $("#searchMaterialStatus").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href = "/material/materials/" + page + "?searchDateType=" + searchDateType
                + "&searchMaterialStatus=" + searchMaterialStatus
                + "&searchBy=" + searchBy
                + "&searchQuery=" + searchQuery;
        }

        function deleteMaterial(id) {
            if (confirm("정말로 이 자재를 삭제하시겠습니까?")) {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");


                $.ajax({
                    url: '/material/delete/' + id,
                    type: 'POST',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (result) {
                        alert("자재가 삭제되었습니다.");
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("자재 삭제 중 오류가 발생했습니다.");
                    }
                });
            }
        }


    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        select {
            margin-right: 10px;
        }
    </style>
</th:block>


<form th:action="@{'/material/materials/' + ${materials.number}}" role="form" method="get" th:object="${materials}">
    <div class="material-table-container">

        <div class="search-container">
            <div class="form-inline justify-content-center" th:object="${materialSearchDTO}">
                <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                    <option value="all">전체기간</option>
                    <option value="1d">1일</option>
                    <option value="1w">1주</option>
                    <option value="1m">1개월</option>
                    <option value="6m">6개월</option>
                </select>
                <select th:field="*{searchMaterialStatus}" class="form-control" style="width:auto;">
                    <option value="">재고 상태(전체)</option>
                    <option value="NORMAL">정상</option>
                    <option value="REPAIR">수리</option>
                    <option value="BREAKAGE">파손</option>
                </select>
                <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                    <option value="material_name">자재 이름</option>
                    <option value="material_id">자재 아이디</option>
                </select>
                <input th:field="*{searchQuery}" type="text" class="form-control-search" placeholder="검색어를 입력해주세요">
                <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
            </div>
        </div><!--./search-container-->

        <table class="table-material-manage">
            <thead>
            <tr>
                <td>자재 아이디</td>
                <td>자재 상태</td>
                <td>자재 이름</td>
                <td>자재 설명</td>
                <td>등록일</td>
                <td>수정</td>
                <td>삭제</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="material, status: ${materials.getContent()}">
                <td th:text="${material.id}"></td>
                <td>
                    <span th:switch="${material.materialStatus}">
                        <span th:case="${T(com.kinder.kindergarten.constant.Material.MaterialStatus).NORMAL}"
                              class="material-status-normal">정상</span>
                        <span th:case="${T(com.kinder.kindergarten.constant.Material.MaterialStatus).REPAIR}"
                              class="material-status-repair">수리중</span>
                        <span th:case="${T(com.kinder.kindergarten.constant.Material.MaterialStatus).BREAKAGE}"
                              class="material-status-destroy">파손</span>
                        <span th:case="*" class="material-status">상태 미정</span> <!-- 예외 처리 -->
                    </span>
                </td>
                <td>
                    <a th:href="'/material/materialDtl/'+${material.id}" th:text="${material.material_name}"></a>
                </td>

                <td th:text="${material.material_detail}"></td>
                <td th:text="${material.regiDate}"></td>
                <td>
                    <a th:href="'/material/'+${material.id}">수정</a>
                </td>
                <td>
<!--                    <a class="form-control-delr"
                       th:onclick="'javascript:deleteMaterial(' + ${material.id} + ')'">삭제
                    </a>-->

                    <!-- 삭제 버튼 수정 -->
                    <a class="form-control-delr" th:attr="onclick=|javascript:deleteMaterial('${material.id}')|">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>

<!--        <div th:with="start=${(materials.number / maxPage) * maxPage + 1},
               end=${(materials.totalPages == 0) ? 1 :
                    (start + (maxPage - 1) < materials.totalPages ? start + (maxPage - 1) : materials.totalPages)}">-->

        <div th:with="start=${(materials.number / maxPage) * maxPage + 1},
               end=${(materials.totalPages == 0) ? 1 :
                    (start + (maxPage - 1) < materials.totalPages ? start + (maxPage - 1) : materials.totalPages)}">

            <ul class="pagination justify-content-center" style="display: flex; flex-wrap: wrap; margin: 20px 0;">

                <!-- Previous button -->
                <li class="page-item" th:classappend="${materials.first} ? 'disabled'">
<!--                    <a class="page-link" th:onclick="'javascript:page(' + ${materials.number - 1} + ')'"
                       aria-label="Previous">-->
                    <!-- 페이지 이동 버튼 수정 -->
                    <a class="page-link" th:attr="onclick=|javascript:page(${materials.number - 1})|" aria-label="Previous">
                        <span aria-hidden="true">이전</span>
                    </a>
                </li>

                <!-- Page number buttons -->
                <li class="page-item" th:each="page : ${#numbers.sequence(start, end)}"
                    th:classappend="${materials.number eq page - 1} ? 'active' : ''">
                    <a class="page-link" th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text">[[${page}]]</a>
                </li>

                <!-- Next button -->
                <li class="page-item" th:classappend="${materials.last} ? 'disabled'">
                    <a class="page-link" th:onclick="'javascript:page(' + ${materials.number + 1} + ')'"
                       aria-label="Next">
                        <span aria-hidden="true">다음</span>
                    </a>
                </li>

            </ul>
        </div>


    </div><!--./.material-table-container -->
</form>

</body>
</html>